.box{
    color:red;
    border:1px solid #ccc;
    text-align:center;
    width:300px;
    margin:6px;
    box-shadow:0 0 6px #ccc;
    cursor:pointer;
    transition: all 0.3s ease;
    .img{
        width:250px;
        height:auto;
    }
    &:hover{
        opacity:0.9;
        transform:rotate(1deg) scale(1.03);
    }
}